{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
	<script type="text/javascript">
		document._scd = {};
		document._scd['routing'] = {
			'api:questions': '{% url "questions-test-questions" pk=0 %}',

		}
		document._scd['test_id'] = {{ test_id }};
	</script>
	{% block content %}
	{% endblock %}
</body>
</html>